body{
background-position: center;
background-size:cover;
background-repeat: no-repeat;
background-color: black;
}

main{
color: rgb(228, 221, 204);

}


header{
text-align: end;
}


footer{
padding-top: 800px;
color: rgb(228, 221, 204);
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
text-align: center;

}

.mail_button{
color: rgb(228, 221, 204);
font-size: 20px;
}

.button{
padding-left: 10px;
}