html{
height: 100%;
}

body{
background-position: center;
background-size:cover;
background-repeat: no-repeat;
background-color: black;
}

header{
text-align: end;
}

main{
background-position: center; 
}



.img2{
display: block;
width:100%;
height:400px;
margin-left: auto;
margin-right: auto;
}



footer{
padding-top: 200px;
color: rgb(228, 221, 204);
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
text-align: center;

}

.mail_button{
color: rgb(228, 221, 204);
font-size: 20px;
}

.button{
padding-left: 10px;
}



@media only screen and (min-width:600px){

main {
padding-left: 10px;
padding-right: 10px;
color: rgb(228, 221, 204);
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 15px;
text-decoration: none;
text-align: justify;
background-position: center; 
padding-top: 10px;
padding-bottom: 20px;
}


.img2{
width:100%;
height:500px;
}
}


@media only screen and (min-width:1000px){


.img2{
width:100%;
height:800px;
}

main {
padding-left: 10px;
padding-right: 10px;
color: rgb(228, 221, 204);
text-align:justify;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 40px;
text-decoration: none;
text-align: justify;
background-position: center; 
padding-top: 10px;
padding-bottom: 20px;
}



}










