
html{
height: 100%;
}

body{
background-image: url(photos/1.jpg);
background-position: center;
background-size: 550%;
background-repeat: no-repeat;
background-color: black;
}

header{
color: rgb(95, 85, 66);
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size: 50px;
}

.nav{
align-content: start;
}

.projects{
color: rgb(150, 140, 122);
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
}

.news{
color: rgb(150, 140, 122);
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;   
}

.bio{
color: rgb(150, 140, 122);
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
}

ul{
list-style-type: none;
padding: 3px;
}

li{
text-align: start;
margin: 4em 0;
}

footer{
padding-top: 30px;
color: rgb(228, 221, 204);
font-family:Arial, Helvetica, sans-serif;
font-size: 7px;
text-align: start;
}

.mail_button{
color: rgb(150, 140, 122);
font-size: 15px;
padding-left: 10px;
}

.button{
padding-left: 5px;   
}

.allrightsreserved{
padding-left: 10px;
color: rgb(150, 140, 122);
}


@media only screen and (min-width: 600px) {

header{
color: rgb(95, 85, 66);
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size: 70px;
}

body{
background-image: url(photos/1.jpg);
background-position: center;
background-size: 500%;
background-repeat: no-repeat;
background-color: black;
}

.projects{
color: rgb(150, 140, 122);
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size: 30px;
text-decoration: none;
}

.news{
color: rgb(150, 140, 122);
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size: 30px;
text-decoration: none;     
}

.bio{
color: rgb(150, 140, 122);
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size: 30px;
text-decoration: none;
}

footer{
padding-top: 50px;
color: rgb(228, 221, 204);
font-family:Arial, Helvetica, sans-serif;
font-size: 7px;
text-align: start;
}
}


@media only screen and (min-width: 800px) {

body{
background-image: url(photos/1.jpg);
background-position: center;
background-size: 400%;
background-repeat: no-repeat;
background-color: black;
}
}


@media only screen and (min-width: 1000px) {

header{
color: rgb(150, 140, 122);
text-align:end;
font-family:Arial, Helvetica, sans-serif;
font-size: 50px;
}

body{
background-image: url(photos/1.jpg);
background-position: center;
background-size: 160%;
background-repeat: no-repeat;
background-color: black;
}

.projects{
color: rgb(150, 140, 122);
text-align:end;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
}

.news{
color: rgb(150, 140, 122);
text-align:end;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
}

.bio{
color: rgb(150, 140, 122);
text-align:end;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
}

.nav{
align-content: end;
}

li{
text-align: end;
margin: 8em 0;
}

footer{
padding-top: 5px;
color: rgb(228, 221, 204);
font-family:Arial, Helvetica, sans-serif;
font-size: 7px;
text-align: end;
}
}











